{% extends 'layout/sysAdmin/sysAdmin_layout_vertical.html' %}


{% load static %}
{% load i18n %}

{% block title %}myPUPQC | Account Management{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />

<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/bs-stepper/bs-stepper.css' %}" />

<link rel="stylesheet" href="{% static 'vendor/libs/animate-css/animate.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" />

 <style>
  /* Neumorphic Card Styling */
  .soft-card {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    box-shadow: 5px 5px 15px #d1d1d1, -5px -5px 15px #ffffff;
    border-radius: 12px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }

  .soft-card:hover {
    box-shadow: 8px 8px 20px #d1d1d1, -8px -8px 20px #ffffff;
    transform: scale(1.03);
  }


</style>
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>

<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/bs-stepper/bs-stepper.js' %}"></script>

<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>

<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}" />

{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'myPUPQC/js/Globals.js' %}"></script>
<script src="{% static 'myPUPQC/js/account-management-field-validation.js' %}"></script>
<script src="{% static 'myPUPQC/js/student-user-list.js' %}"></script>
<script src="{% static 'myPUPQC/js/alumni-user-llist.js' %}"></script>
<script src="{% static 'myPUPQC/js/faculty-user-list.js' %}"></script>
<script src="{% static 'myPUPQC/js/personnel-user-list.js' %}"></script>

<script src="{% static 'js/ui-popover.js' %}"></script>
<script src="{% static 'js/extended-ui-sweetalert2.js' %}"></script>

{% comment %} <script src="{% static 'js/academic-head-js/modal-add-user.js' %}"></script> {% endcomment %}
{% endblock page_js %}


{% block content %}
<div style="width: 90%; margin: 0 auto; box-sizing: border-box;">
{% csrf_token %}
  <h4 class="py-3 mb-4">
    <span class="text-muted fw-light">
      <a href="{% url 'sysAdminHomepage' %}" class="text-muted fw-light">{% translate "Home" %}</a> /
    </span>
    <a href="{% url 'sysAdminAccountManagement' %}" class="text-dark">
      {% translate "Account Management" %}
    </a>
  </h4>

  <div class="row g-3 mb-3">
    <!-- Programs Card -->
    <div class="col-sm-8 col-xl-4">
      <div class="soft-card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="me-1">
              <p class="text-heading mb-2">Manage</p>
              <div class="d-flex align-items-center">
                <h4 class="mb-2 me-1 display-6">Programs</h4>
              </div>
              <p class="mb-0">Last week analytics</p>
            </div>
            <div class="soft-avatar">
              <a href="{% url 'sysAdminManageProgram' %}">
                <div class="mdi mdi-account-plus-outline mdi-24px scaleX-n1"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bulk Uploads Card -->
    <div class="col-sm-8 col-xl-4">
      <div class="soft-card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="me-1">
              <p class="text-heading mb-2">Manage</p>
              <div class="d-flex align-items-center">
                <h4 class="mb-2 me-1 display-6">Bulk Uploads</h4>
              </div>
              <p class="mb-0">Last week analytics</p>
            </div>
            <div class="soft-avatar">
              <a href="{% url 'sysAdminManageBulkUpload' %}">
                <div class="mdi mdi-account-plus-outline mdi-24px scaleX-n1"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Recycle Accounts Card -->
    <div class="col-sm-8 col-xl-4">
      <div class="soft-card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="me-1">
              <p class="text-heading mb-2">Manage</p>
              <div class="d-flex align-items-center">
                <h4 class="mb-2 me-1 display-6">Recycle Accounts</h4>
              </div>
              <p class="mb-0">Last week analytics</p>
            </div>
            <div class="soft-avatar">
              <a href="{% url 'sysAdminManageRecycle' %}">
                <div class="mdi mdi-account-plus-outline mdi-24px scaleX-n1"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-4">
    <div class="card-header p-0">
      <div class="nav-align-top">
        <ul class="nav nav-tabs nav-fill" role="tablist">
          <li class="nav-item">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-home" aria-controls="navs-justified-home" aria-selected="true">
              <span class="mdi mdi-account-school-outline me-1"></span> Student
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-profile" aria-controls="navs-justified-profile" aria-selected="false">
              <i class="tf-icons mdi mdi-account-outline me-1"></i> Alumni
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-messages" aria-controls="navs-justified-messages" aria-selected="false">
              <span class="mdi mdi-account-tie-outline me-1"></span> Faculty
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-personnel" aria-controls="navs-justified-personnel" aria-selected="false">
              <i class="tf-icons mdi mdi-account-group-outline me-1"></i> Personnel
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">

        <div class="tab-content p-0">

          <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">

            <div class="card">
              <div class="card-header border-bottom">
                <h5 class="card-title">Search Filter</h5>
                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                  <div class="col-md-4 user_role"></div>
                  <div class="col-md-4 user_plan"></div>
                  <div class="col-md-4 user_status"></div>
                </div>
              </div>
              <div class="card-datatable table-responsive">
                <table class="datatables-users table">
                  <thead class="table-light">
                    <tr>
                      <th></th>
                      <th></th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-card-account-details me-2"></i>
                          <span style="font-size: smaller;">Student ID</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-account me-2"></i>
                          <span style="font-size: smaller;">Name</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-book-education-outline me-2"></i>
                          <span style="font-size: smaller;">Program</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-email-outline me-2"></i>
                          <span style="font-size: smaller;">Email</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar-clock-outline me-2"></i>
                          <span style="font-size: smaller;">Created Date</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span style="font-size: smaller;">Status</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span style="font-size: smaller;">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
            <!-- Begin: List of Alumni -->
            <div class="card">
              <div class="card-header border-bottom">
                <h5 class="card-title">Alumni Filter</h5>
                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                  <div class="col-md-4 UserAlumniYear"></div>
                  <div class="col-md-4 UserAlumniProgram"></div>
                  <div class="col-md-4 UserAlumniStatus"></div>
                </div>
              </div>
              <div class="card-datatable table-responsive">
                <table class="datatables-alumni table">
                  <thead class="table-light">
                    <tr>
                      <th></th>
                      <th></th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-card-account-details me-2"></i>
                          <span style="font-size: smaller;">Alumni ID</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-account me-2"></i>
                          <span style="font-size: smaller;">Name</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-book-education-outline me-2"></i>
                          <span style="font-size: smaller;">Program</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-email-outline me-2"></i>
                          <span style="font-size: smaller;">Email</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar-clock-outline me-2"></i>
                          <span style="font-size: smaller;">Created Date</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span style="font-size: smaller;">Status</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span style="font-size: smaller;">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End: List of Alumni-->
          </div>

          <div class="tab-pane fade" id="navs-justified-messages" role="tabpanel">
            <!-- Begin: List of Faculty -->
            <div class="card">
              <div class="card-header border-bottom">
                <h5 class="card-title">Faculty Filter</h5>
                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                  <div class="col-md-6 user_roleAccess"></div>
                  <div class="col-md-6 user_facultyStatus"></div>

                </div>
              </div>
              <div class="card-datatable table-responsive">
                <table class="datatables-faculty table">
                  <thead class="table-light">
                    <tr>
                      <th></th> <!-- Control Column (hidden) -->
                      <th></th> <!-- Control Column (hidden) -->
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-card-account-details me-2"></i>
                          <span>Employee ID</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-account me-2"></i>
                          <span>Name</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-account-key-outline me-2"></i>
                          <span>Role Access</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-email-outline me-2"></i>
                          <span>Email</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar-clock-outline me-2"></i>
                          <span>Created Date</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span>Status</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span>Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End: List of Faculty -->
          </div>

          <div class="tab-pane fade" id="navs-justified-personnel" role="tabpanel">

            <!-- Begin: Personnel Table -->
            <div class="card">
              <div class="card-header border-bottom">
                <h5 class="card-title">Personnel Filter</h5>
                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                  <div class="col-md-6 user_personnelRole"></div>
                  <div class="col-md-6 user_personnelStatus"></div>
                </div>
              </div>
              <div class="card-datatable table-responsive">
                <table class="datatables-personnel table">
                  <thead class="table-light">
                    <tr>
                      <th></th> <!-- Control Column (hidden) -->
                      <th></th> <!-- Control Column (hidden) -->
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-card-account-details me-2"></i>
                          <span style="font-size: smaller;">Employee ID</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-account me-2"></i>
                          <span style="font-size: smaller;">Name</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-account-key-outline me-2"></i>
                          <span style="font-size: smaller;">Role Access</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-email-outline me-2"></i>
                          <span style="font-size: smaller;">Email</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar-clock-outline me-2"></i>
                          <span style="font-size: smaller;">Created</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span style="font-size: smaller;">Status</span>
                        </div>
                      </th>
                      <th>
                        <div class="d-flex align-items-center">
                          <span style="font-size: smaller;">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Dynamic rows will be inserted here -->
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End: Personnel Table -->


          </div>

        </div>
      </div>
    </div>

  <!-- All Modals -->
  {% include 'sysAdmin/partials/account-management/table_action_bar.html' %}

  {% include 'sysAdmin/partials/account-management/modal_add_student.html' %}
  {% include 'sysAdmin/partials/account-management/modal_edit_student.html' %}

  {% include 'sysAdmin/partials/account-management/modal_add_alumni.html' %}
  {% include 'sysAdmin/partials/account-management/modal_edit_alumni.html' %}

  {% include 'sysAdmin/partials/account-management/modal_edit_faculty.html' %}
  {% include 'sysAdmin/partials/account-management/modal_edit_role-acccess.html' %}

  {% include 'sysAdmin/partials/account-management/modal_add_personnel.html' %}
  {% include 'sysAdmin/partials/account-management/modal_edit_personnel.html' %}
  {% include 'sysAdmin/partials/account-management/modal_edit_personnel-role-acccess.html' %}

</div>
{% endblock %}
