{% extends 'layout/sysFaculty/sysFaculty_layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}myPUPQC | Audit Log{% endblock %}


{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />

<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>

<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}

{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script>
  const getActivityLogs = "{% url 'faculty.getActivityLogs' %}";
</script>
<script src="{% static 'myClient/js/datatable-audit-log.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div style="width: 90%; margin: 0 auto; box-sizing: border-box;">

  <h4 class="py-3 mb-4">
    <span class="text-muted fw-light">
      <a href="{% url 'sys-faculty-Homepage' %}" class="text-muted fw-light">{% translate "Home" %}</a> /
    </span>
    <a href="{% url 'sys-moderator-AuditLog' %}" class="text-dark">
      {% translate "Activity Log" %}
    </a>
  </h4>

  <!-- Users List Table -->
  <div class="card">
    <div class="card-datatable table-responsive">
      <table class="datatables-users table">
        <thead class="table-light">
          <tr>
            <th>Audit ID</th>
            <th>Post Author</th>
            {% comment %} <th>Post Media</th> {% endcomment %}
            <th>Post</th>
            <th>Moderator</th>
            <th>Action</th>
            <th>Date/Time</th>
          </tr>
        </thead>
        <tbody>
          <!-- Data will be populated dynamically by DataTables -->
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
