{% extends 'layout/sysAdmin_master.html' %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-container">

  <!-- Navbar: Start -->
  {% include "layout/sysAdmin/sysAdmin_navbar.html" %}
  <!-- Navbar: End -->

  <!-- Content wrapper: Start -->
  <div class="content-wrapper" id="content-wrapper">
    <!-- Content: Start -->
    {% if is_flex %}
    <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
      {% else %}
      <div class="{{container_class}} flex-grow-1 container-p-y">
        {% endif %}
        {% block content %}
        {% endblock content %}
      </div>
      <!-- / Content: End -->

      {% if is_footer %}
      <!-- Footer: Start -->
      {% include "layout/sysAdmin/sysAdmin_footer.html" %}
      <!-- Footer: End -->
      {% endif %}


      <div class="content-backdrop fade"></div>
    </div>
    <!-- / Content wrapper: End -->
  </div>
  <!-- / Layout page: End -->

</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
