{% load static %}
<br>
<br>
<br>
<footer class="landing-footer">

  <div class="footer-bottom py-3">
    <div class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
      <div class="mb-2 mb-md-0">
        <span class="footer-text">
          © 2024 - myPUPQC SRG
      </div>
      <div>
        <a href="{% get_theme_variables 'github_url' %}" class="footer-link me-2" target="_blank"><i class="mdi mdi-github"></i></a>
        <a href="{% get_theme_variables 'facebook_url' %}" class="footer-link me-2" target="_blank"><i class="mdi mdi-facebook"></i></a>
        <a href="{% get_theme_variables 'twitter_url' %}" class="footer-link me-2" target="_blank"><i class="mdi mdi-twitter"></i></a>
        <a href="{% get_theme_variables 'instagram_url' %}" class="footer-link" target="_blank"><i class='mdi mdi-instagram'></i></a>
      </div>
    </div>
  </div>
</footer>
