  /* Custom Swiper CSS */
  .custom-swiper {
    height: 750px; /* Default height */
  }
  .custom-swiper .swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
