@media (max-width: 800px) {
  .hide-on-small {
    display: none !important;
  }
}

@media (max-width: 768px) {
  /* Adjust font size and horizontal padding for smaller screens */
  .responsive-text {
    font-size: 14px !important;
    padding: 0 15px !important;
  }
}
